@media(max-width: 600px) {
  body {
    background-color: white;
  }
}

.welcome{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  margin-left: 25px;
}

#betterwork{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid plum;
  
}
#navbar{
  display: flex;
  justify-content: flex-end;
}
.ab{
  font-size: 15px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: red;

}
.con{
  font-size: 15px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}
.git{
  font-size: 15px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
}
#image{
  margin-top: 50px;
}
 
.project-tile{
 font-size: 25px;
 display: flex;
 justify-content: center;
 color: black;
 margin-top: 20px;
}
